.admiinContainer h1 {
    color: #1e1e1e;
}

.admiinContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
}

.admiinContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d1d1d1;
    border-radius: 10px;
    padding: 50px;
}

.admiinContainer form input {
    margin: 10px;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background-color: #1e1e1e;
    color: white;
}

.admiinContainer form button {
    font-size: 16px;
    padding: 7px 20px;
    border: none;
    outline: none;
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e;
    border-radius: 10px;
    color: #d1d1d1;
}

.dashboard {
    /* color: white; */
    background-color: #1e1e1e;
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
}

.dashboard ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dashboard ul li {
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
}

.dashboardHeader {
    display: flex;
    flex-direction: row;
}

.selected {
    opacity: 1;
    font-weight: bold;
}

.notSelected {
    opacity: 0.5;
    font-weight: 300;
}

.overview,
.tableContainer {
    width: 100%;
    text-align: center;
    overflow-x: scroll;
    background-color: #1e1e1e;
}

.overviewFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #eee;
    color: #001F3D;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 10px;
    transition: .5s ease-in-out;
    border: 10px ridge #001F3D;
}

.overview h4 {
    font-size: 25px;
}

.overview p {
    font-size: 20px;
}

.card:hover {
    width: 210px;
    height: 210px;
}

.tableContainer table {
    margin: auto;
    border-radius: 10px;
    border: 10px ridge #001F3D;
    background-color: #001F3D;
    overflow: scroll;
}

.tableContainer h1 {
    text-align: left;
}

.tableContainer tr th {
    background-color: #001F3D;
    color: white;
    padding: 10px;
}

.tableContainer tr td {
    background-color: #eee;
    padding: 10px;
    color: #001F3D;
}

.tableHeader {
    padding: 30px;
}

.productsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1e1e1e;
}

.products {
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    --webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: flex-start;
}

.products::-webkit-scrollbar {
    display: none;
}

.productCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    border: 10px ridge #001F3D;
    color: #eee;
    scroll-snap-align: start;
}

.productImg {
    border-radius: 10px;
    background-color: #eee;
    object-fit: contain;
    margin: 10px 0;
}

.productCard input {
    margin: 10px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background-color: #eee;
    color: #1e1e1e;
}

.search {
    border: none;
    padding: 15px 10px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background-color: #eee;
    color: #1e1e1e;
    width: 50%;
    margin-top: 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.edit {
    color: #eee;
    font-size: 20px;
    cursor: pointer;
}

.trash {
    color: rgb(255, 92, 100);
    font-size: 20px;
    cursor: pointer;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editContainer {
    background-color: #eee;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 20%;
    padding: 30px;
    transform: translate(-50%, 0);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 10px ridge #001F3D;
    color: #1e1e1e;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -webkit-animation: scaleIn .5s ease-in-out;
    -moz-animation: scaleIn .5s ease-in-out;
    -o-animation: scaleIn .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    animation: .5s scaleIn ease-in-out;
}

.editContainer div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.editContainer div input {
    margin: 10px;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background-color: #1e1e1e;
    color: white;
}

.editContainer button {
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: #1e1e1e;
    color: white;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

.id {
    font-size: 12px;
    margin: 10px;
}

.orderedProductsContainer {
    position: fixed;
    left: 50%;
    top: 10%;
    height: 350px;
    padding: 30px;
    transform: translate(-50%, 0);
    background-color: #eee;
    color: #1e1e1e;
    border: 10px ridge #001F3D;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -webkit-animation: scaleIn .5s ease-in-out;
    -moz-animation: scaleIn .5s ease-in-out;
    -o-animation: scaleIn .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    animation: .5s scaleIn ease-in-out;
}

.orderedProductsContainer .orderedProducts {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.orderedProductsContainer .orderedProducts::-webkit-scrollbar {
    display: none;
}

.orderedProductsContainer .orderedProduct {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    scroll-snap-align: start;
    width: 100%;
}

.orderedProduct div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5px;
    width: 100%;
    text-align: left;
}

.orderedProduct div p {
    font-weight: 500;
}

.orderedProduct span {
    font-size: 12px;
    font-weight: 200;
}

.orderedImg {
    background-color: #d1d1d1;
    border-radius: 10px;
    object-fit: contain;
}

.closeIcon {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
}

.invoice {
    font-size: 20px;
    cursor: pointer;
}

.orderBtn {
    font-size: 10px;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: #1e1e1e;
    border: 3px ridge #001F3D;
    border-radius: 5px;
    color: #d1d1d1;
    cursor: pointer;
}

@keyframes scaleIn {
    0% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

@media (max-width:674px) {
    .dashboardHeader {
        flex-direction: column;
    }
    .dashboard ul {
        flex-direction: column;
    }
    .dashboard ul li {
        margin: 10px 0;
    }
    .search {
        width: 100%;
    }
    .tableContainer table {
        display: flex;
    }
    .tableContainer table thead tr {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: flex-start;
        text-align: left;
    }
    .tableContainer table tbody {
        display: flex;
        scroll-snap-type: x mandatory;
        --webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: scroll;
        justify-content: flex-start;
        overflow-y: hidden;
        background-color: #eee;
    }
    .tableContainer table tbody::-webkit-scrollbar {
        display: none;
    }
    .tableContainer table tbody tr {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        scroll-snap-align: start;
        text-align: left;
        border: 1px solid #001F3D;
    }
}