.cart {
    padding: 50px;
    background-color: #001f3d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #001f3d;
}

.cartContainer {
    background-color: white;
    padding: 50px;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cartHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.cartItem {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    /* scroll-snap-align: center;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; */
}

.cartItem>* {
    margin: 5px;
}

.cartQuantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #001f3d;
    max-width: 100%;
    font-size: 20px;
    padding: 5px;
    background-color: #eee;
    border-radius: 10px;
}

.cartQuantity button {
    color: #001f3d;
    background-color: #eee;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
}

.cartQuantity button:hover {
    color: #DCC295
}

.cartQuantity button:active {
    font-size: 25px;
}

.showSummary {
    background: transparent;
    color: #001f3d;
    font-size: 16px;
    text-transform: capitalize;
    border: none;
    outline: none;
    text-decoration: underline;
}

.summary,
.billing {
    padding: 20px 50px;
    display: flex;
    flex: 0.5;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.summary {
    background-color: #eee;
}

.billing {
    background-color: white;
}

.itemSummary {
    position: relative;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.price {
    font-weight: bold;
}

.summaryImg {
    background-color: #001e3d24;
    border-radius: 10px;
}

.summaryQnty {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #DCC295;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
}

.displaySummary div:not(.productsSummary) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
    scroll-snap-align: start;
}

.summary h1,
.billing h1 {
    margin-bottom: 30px;
    color: #001f3d;
}


/* .cartDetails {
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    height: 35%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cartDetails::-webkit-scrollbar {
    display: none;
} */

.productsSummary {
    padding: 0 10px;
    font-size: 12px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
}

.productsSummary::-webkit-scrollbar {
    display: none;
}

.summary .btn,
.billing .btn {
    text-transform: uppercase;
    padding: 12px 0;
    color: #DCC295;
    background-color: #1e1e1e;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px 0;
}

.billing .icon {
    color: #001f3d;
    cursor: pointer;
    margin-left: 5px;
}

.summary .btn:hover,
.billing .btn:hover {
    background-color: #DCC295;
    color: #1e1e1e;
}

.billing div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.billing input {
    margin: 10px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background-color: #eee;
}

.back {
    text-decoration: underline;
    border: none;
    outline: none;
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    background-color: white;
    text-align: left;
    cursor: pointer;
    color: #001f3d;
}

.billing p {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}

.noProducts {
    font-weight: bold;
    color: #001f3d;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

@media (max-width:800px) {
    .cart {
        padding: 0;
        flex-direction: column;
    }
    .cartItem {
        flex-direction: column;
    }
    .summary,
    .billing,
    .cartContainer {
        border-radius: 0 !important;
        width: 100%;
    }
    .back {
        width: 70%;
    }
}