:root {
    color-scheme: light only;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    margin: 10px;
    line-height: 1.5;
}

.pageContainer h4 {
    padding: 10px 0;
}

.pageContainer ul {
    padding: 20px;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

body {
    background-color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 200;
    position: relative;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}

h2::after {
    content: '';
    width: 35px;
    height: 3px;
    display: flex;
    flex-direction: column;
    background-color: #001f3d;
    margin: 10px auto;
    animation: heading 0.5s ease-in-out;
}

h3 {
    color: white;
    font-weight: 400;
    position: relative;
    text-align: center;
    font-size: 25px;
    margin: 5px;
}

.viewAll {
    background-color: white;
    padding: 20px;
    border: none;
    color: #DCC295;
    border: 2px solid #DCC295;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.viewAll:hover,
.viewAll:active {
    background-color: #DCC295;
    color: white;
}

hr {
    border-top: 1px light #001f3d;
}

button {
    transition: 0.5s ease;
}

button:active {
    transform: scale(1.09);
}

@media (max-width:390px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    li {
        font-size: 15px;
    }
}