.container {
    position: fixed;
    inset: 0;
    z-index: 113;
    background-color: #001F3D;
    color: #DCC295;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
}

.container h1 {
    background-color: #eee;
    width: 100%;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    background-color: #eee;
}

.form input {
    margin: 10px;
    border: none;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background-color: #eee;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.form input:active,
.form input:hover {
    background-color: #D1D1D1;
}

.form input[type='submit'] {
    color: #001F3D;
    background-color: #DCC295;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.err {
    color: red;
    margin: 10px;
}


/* .form input:not(input[type='submit']) {
    width: 30vw;
} */

.icon {
    font-size: 30px;
    cursor: pointer;
    color: #001F3D;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
}

.changeView {
    color: #001F3D;
    background-color: #eee;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}