.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.nav h3 {
    font-size: 30px;
}

.logo {
    /* filter: brightness(0.5);
    filter: contrast(0.5);
    filter: grayscale(0.6);
    border-radius: 20px; */
}

.icon {
    color: white;
    font-size: 25px;
    cursor: pointer;
}