.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 111;
    background-color: aliceblue;
}

.navFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav h3 {
    font-size: 30px;
    color: #001F3D;
}

.icon {
    font-size: 22px;
    cursor: pointer;
    color: #001F3D;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.links p {
    color: #001F3D;
}

.link {
    text-decoration: none;
    margin: 0 10px;
}

.cartContainer {
    position: relative;
    padding: 12px;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 50%;
    font-size: 17px;
    color: #fff;
    text-align: center;
    background-color: #DCC295;
}