.container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.benefits {
    position: relative;
    overflow: "hidden"
}

.image {
    object-fit: cover;
    width: 35vw !important;
    position: relative !important;
    height: unset !important;
    transition: transform .25s, visibility .25s ease-in;
}

.aboutUs {
    z-index: 1;
    position: relative;
    height: 430px;
    width: 35vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
}

.aboutUs:hover .image,
.aboutUs:active .image {
    transform: scale(1.2);
}

.overlay {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 20px;
}

.content {
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.content h2 {
    color: white;
    font-size: 30px;
}