.container {
    margin: 20px;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.benefits {
    position: relative;
}

.image {
    object-fit: cover;
    position: relative !important;
    transition: transform .25s, visibility .25s ease-in;
    border-radius: 7px;
}

.aboutUs {
    position: relative;
    display: flex;
    cursor: pointer;
    border-radius: 7px;
    overflow: hidden;
    z-index: 1;
}

.aboutUs:hover .image,
.aboutUs:active .image {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 7px;
}

.content {
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.content h2 {
    color: aliceblue;
    font-size: 30px;
}

.content h2:after {
    background-color: aliceblue !important;
}

@media (max-width:674px) {
    .container {
        flex-direction: column-reverse;
    }
}