.cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in-out;
    margin: 20px;
}

.imgContainer {
    position: relative;
    background-color: #dcc29589;
    border-radius: 20px;
    width: 100%;
    height: 250px;
}

.add {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 30px;
    color: white;
    padding: 5px 15px;
    outline: none;
    border: none;
    background-color: #001F3D;
    border-radius: 20px;
    cursor: pointer;
}


/* .cardContainer:hover,
.cardContainer:active {
    transform: scale(1.1);
} */

.image {
    object-fit: contain;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details p {
    font-weight: 200;
    font-size: 1.2rem;
    color: #001F3D;
}

.details p:last-child {
    font-weight: bold;
    margin-top: 7px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.carouselContainer {
    width: 100%;
    margin: 10px;
}

.btn {
    background-color: #DCC295;
    color: #001F3D;
    padding: 20px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 50px;
    cursor: pointer;
}