.cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in-out;
    margin: 50px 20px;
    scroll-snap-align: center;
    width: 250px;
    height: 250px;
}

.productsSnapping {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.productsSnapping::-webkit-scrollbar {
    display: none;
}

.imgContainer {
    position: relative;
    background-image: linear-gradient(rgba(4, 42, 80, 0.5), rgba(220, 194, 149, 0.5));
    border-radius: 20px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    z-index: 1;
}

.imgContainer:hover>.image {
    transform: scale(1.1);
}

.add {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #001F3D;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    z-index: 2;
}


/* .cardContainer:hover,
.cardContainer:active {
    transform: scale(1.1);
} */

.image {
    object-fit: contain;
    border-radius: 20px;
    transition: transform 0.5s, visibility 0.5s ease-in-out;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.details p {
    font-weight: 200;
    font-size: 12px;
    color: #001F3D;
    letter-spacing: 2px;
}

.details p:last-child {
    font-weight: bold;
    margin-top: 7px;
}

.listContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.listContainer h2 {
    margin: 10px;
}

@media (max-width:674px) {
    .imgContainer {
        width: 180px;
        height: 180px;
    }
    .cardContainer {
        width: 180px;
        height: 180px;
    }
}