.productContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dcc2958f;
    width: 100%;
    padding: 0 20px;
    overflow-x: hidden;
}

.productImage {
    object-fit: contain;
}

.productBtns {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productBtns button {
    width: inherit;
    color: #DCC295;
    padding: 10px 30px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.productBtns button:first-child {
    background-color: #001F3D;
}

.productBtns button:last-child {
    background-color: transparent;
    border: 1px solid aliceblue;
    color: #001F3D;
}

.productDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 10px;
}

.productDetails>* {
    margin: 5px;
}

.productDetails div:first-child {
    display: flex;
    flex-direction: column;
}

.productDetails span {
    font-weight: 200;
    text-align: center;
}

.productDetails div:first-child p {
    font-size: 30px;
    font-weight: bold;
}

.quantityContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: flex-start;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
    border-radius: 20px;
}

.quantity p {
    font-size: 30px;
    padding: 0 10px;
    color: #001F3D;
}

.quantity button {
    color: #001F3D;
    border-radius: 10px;
    font-size: 30px;
    outline: none;
    border: none;
    background-color: aliceblue;
    cursor: pointer;
    padding: 0 10px;
    transition: 0.5s ease-in-out;
}

.quantity button:hover {
    padding: 0 20px;
    background-color: #DCC295;
}

.productDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    line-height: 2;
}

.productDesc ul {
    padding: 10px;
}

.productDesc ul li {
    color: #001F3D;
}

@media (max-width:674px) {
    .productContainer {
        flex-direction: column;
    }
    .productDetails {
        padding: 0;
    }
}