.productContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dcc2958f;
    width: 100%;
    padding: 0 20px;
    overflow-x: hidden;
}

.productImage {
    object-fit: contain;
}

.productBtns {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productBtns button {
    width: inherit;
    color: #DCC295;
    padding: 10px 30px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.productBtns button:first-child {
    background-color: #001F3D;
}

.productBtns button:last-child {
    background-color: transparent;
    border: 1px solid white;
    color: #001F3D;
}

.productDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 10px;
}

.productDetails>* {
    margin: 5px;
}

.productDetails div:first-child {
    display: flex;
    flex-direction: column;
}

.productDetails span {
    font-weight: 200;
    text-align: center;
}

.productDetails div:first-child p {
    font-size: 30px;
    font-weight: bold;
}

.quantityContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: flex-start;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

.quantity p {
    font-size: 30px;
    padding: 0 10px;
    color: #001F3D;
}

.quantity button {
    color: #001F3D;
    border-radius: 10px;
    font-size: 30px;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 0 10px;
    transition: 0.5s ease-in-out;
}

.quantity button:hover {
    padding: 0 20px;
    background-color: #DCC295;
}

.productDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    line-height: 2;
}

.productDesc ul {
    padding: 10px;
}

.productDesc ul li {
    color: #001F3D;
}

@media (max-width:674px) {
    .productContainer {
        flex-direction: column;
    }
    .productDetails {
        padding: 0;
    }
}

.productsCarouselContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    overflow: hidden;
    width: 100%;
    height: 100%
}

.productsCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.box {
    margin-top: 50px;
    position: relative;
    height: 250px;
    width: 250px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        transform: perspective(2000px) rotateY(0);
    }
    100% {
        transform: perspective(2000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transition: 0.5s ease;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
    cursor: pointer;
}

.box span:hover {
    width: 110%;
    height: 110%;
}

.carouselImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    object-fit: contain;
}