.cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.imgContainer {
    position: relative;
}

.image {
    object-fit: cover;
    width: 70% !important;
    position: relative !important;
    height: unset !important;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details p {
    font-weight: 200;
    font-size: 1.2rem;
    color: #001F3D;
}

.details p:last-child {
    font-weight: bold;
    margin-top: 7px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.listContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.carouselContainer {
    width: 100%;
    height: 100%;
    margin: 30px;
}

.listContainer h1 {
    color: #001F3D;
    font-weight: 200;
    margin: 20px;
}

.btn {
    background-color: #DCC295;
    color: #001F3D;
    padding: 20px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 50px;
    cursor: pointer;
}